.app {
  /* width: 100vw; */
  /* height: 100vh; */
  display: grid;
  grid-template-areas:
    "topbar topbar"
    "sidebar canvas";
  grid-template-columns: 1fr 7fr;
  grid-template-rows: 1fr 15fr;
}

@media (width <= 800px) {
  .app {
    display: grid;
    grid-template-areas:
      "topbar topbar"
      "sidebar sidebar"
      "canvas canvas";
  }
}
