.canvasContainer {
  grid-column: 2;
  display: grid;
  justify-content: center;
  align-items: center;
  position: relative; /* to block the absolute */
  border: 1px solid red;
}

.mapImage {
  /* make both grid items use row1 and col1 */
  grid-area: 1/1;
  border: 1px solid black;
  /* 1075 x 668 is half of image res*/
  width: 1075px;
  height: 668px;
}

.mapCanvas {
  /* make both grid items use row1 and col1 */
  grid-area: 1/1;
  /* canvas is below image so no need for z-index */
}

.popoverNames {
  position: absolute;
}
