.canvasContainer {
  grid-column: 2;
  display: grid;
  justify-content: center;
  align-items: center;
  position: relative; /* to block the absolute */
  border: 1px solid red;
}

.mapImage {
  border: 1px solid black;
}

.mapCanvas {
  /* absolute because we need it out of the normal flow but still inside the parent
  relative and on top of image */
  position: absolute;
}

.popoverNames {
  position: absolute;
}
