.canvasContainer {
  grid-column: 2;
  border: 2px solid red;
  display: grid;
  justify-content: center;
  align-items: center;
  position: relative; /* to block the absolute */
}

.mapCanvas {
  /* absolute because we need it out of the normal flow but still inside the parent
  relative and on top of image */
  position: absolute;
}

.popoverNames {
  position: absolute;
}
