.sidebar {
  grid-column: 1;
  display: grid;
  justify-content: center;
  align-content: start;
  grid-area: sidebar;
  gap: 2rem;
}

.sidebarList {
  padding-left: 0;
  list-style-type: none;
  display: grid;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.sidebarListItem {
  display: grid;
  justify-content: center;
  align-items: center;
  text-align: center;
}

@media (width <= 800px) {
  .sidebar {
    display: grid;
    justify-content: center;
    align-items: start;
  }

  .sidebarList {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}
